{% extends 'base.html' %}
{% block title %}Goals{% endblock title %}
{% block content %}
  {% for goal in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="front-weight-bold">{{ goal.title }}</span>
        <div class="card-body">
          &middot; {{ goal.body }}
        </div>
        <span class="text-muted">by {{ goal.author }}
          {{ goal.date }}</span>
        </div?
        <div class="card-foorter text-center text-muted">
          <a href="{% url 'goal_edit' goal.pk %}">Edit</a>
          <a href="{% url 'goal_delete' goal.pk %}">Delete</a>
        </div>
      </div>
      <br />
    {% endfor %}
  {% endblock content %}
